body{
    background-image: url(bg10.jpg);
    background-repeat: no repeat;
background-size: 2000px 1000px;

}
form{
    border: solid 1px white;
    width: 500px;
    background-color: rgb(240, 203, 155);
    margin-left: 100px;
}
h1{
    text-align: center;
    color: black;
    font-size: 45px;
}
label{
    font-size: 20px;
    color: rebeccapurple;
}
input{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
}
button{
    height: 40px;
    width: 150px;
    background-color: peachpuff;
    color: black;
    font-size: 12px;
    border-radius: 40px;
}